<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MemberDao">
	
	<insert id="insertMember" parameterType="member">
		insert 
		  into member
		values (#{id},#{pw},#{name},#{email},sysdate)  
	</insert>
	<select id="selectOne" parameterType="string" resultMap="memberMap">
		select * from member where id = #{id}
	</select>
	
	<select id="selectAll" resultMap="memberMap">
		select * 
		  from member
	</select>
	
	<resultMap type="member" id="memberMap">
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="regDate" column="reg_date"/>
	</resultMap>
	
</mapper>





















